.section {
  position: relative;
  padding: 2.8rem 0 6rem;
  background: var(--color-bg);
}

.eyebrow {
  --brand-gradient-angle: 176deg;

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1.6rem;
  background: var(--brand-gradient);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-ink);
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-gutter) * 2);
  margin: 0 auto;
  padding: 3.2rem var(--container-gutter) 0;
}

.content {
  position: relative;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  list-style: none;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  & + .stat {
    padding-top: 3.2rem;
    border-top: 0.1rem solid #4b4b4b;
  }
}

.statValue {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 0.95;
}

.statLabel {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 0.95;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.highlightValue,
.highlightLabel {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  line-height: 0.95;
}

.highlightValue {
  --brand-gradient-angle: 154deg;

  font-size: 4.8rem;
}

.highlightLabel {
  --brand-gradient-angle: 173deg;

  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .section {
    padding-bottom: 10rem;
  }

  .content {
    position: relative;
  }

  .grid {
    position: relative;
    z-index: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 0;
  }

  .stat {
    position: relative;
    flex: 0 0 36rem;

    & + .stat {
      padding-top: 0;
      border-top: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3.2rem;
        width: 0.1rem;
        background: #4b4b4b;
      }
    }
  }

  .statValue {
    font-size: 6.4rem;
  }

  .statLabel {
    font-size: 2rem;
  }

  .highlight {
    position: relative;
    z-index: 1;
  }

  .highlightValue {
    font-size: 12.8rem;
  }

  .highlightLabel {
    font-size: 3.2rem;
  }
}
